body {
  background-color: #4dd2ff;
  text-align: center;
}
h1 {
  color: #bfffff;
}

a:link {
  background-color: #bfffff;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a.music {
 background-color: #bfffff;
 padding: 10px 20px;
 color: black;
 border-radius: 60px;

}