body {
  background-color: powderblue;
  text-align: center;
}

a:link {
  background-color: #bfffff;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}