@media only screen and (max-width: 999px){
 .rectangle {
   position: absolute;
   z-index: -1;
   top: 0;
   width: 100%;
   height: 65px;
   background: #bfffff;
}
  body {
   margin: 0;
   background-color: #4dd2ff;
   text-align: center;
}

  h1 {
   text-align: center;
   color: black;
   font-size: 70px;
}
  h5 {
   text-align: center;
   color: #bfffff;
   font-size: 20px;
   padding-left: 4px;
   padding-right: 4px;
   animation: fadeAnimation .65s ease-in;
}
  @keyframes fadeAnimation{
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
   }
}
  a:link {
   top: 10px;
   left: 30px;
   position: relative;
   color: black;
   border-style: solid;
  
   border-bottom-style: hidden;
   border-top-style: hidden;
   border-right-style: hidden;
   padding: 11px 16px; 
   border-width: 1px;

   text-align: center;
   font-size: 19px;
   text-decoration: none;
   display: inline-block;
}

  a:hover, a:active {
   top: 10px;
   left: 30px;
   position: relative;
   background-color: #4dd2ff;
   color: white;
   border-style: solid;
   
   border-bottom-style: hidden;
   border-top-style: hidden;
   border-right-style: hidden;
   padding: 11px 16px;
   border-width: 1px;
  
   text-align: center;
   font-size: 19px;
   text-decoration: none;
   display: inline-block;
}


  a.music {
   margin: 2px;
   background-color: #bfffff;
   padding: 10px 20px;
   border-style: hidden;
   color: black;
   border-radius: 55px;
   animation: fadeAnimation 1.5s ease-in;
}

  a.music:hover {
   margin: 2px;
   background-color: #80dfff;
   padding: 10px 20px;
   border-style: hidden;
   color: white;
   border-radius: 55px;
}
  .logo{
   position: absolute;
   width: 40px; 
   height: 40px;
   top: 1.5%;
   left: 3.2%; 
}
}

@media only screen and (min-width: 1000px){
.rectangle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 10%;
  top: 0px;
  background: #bfffff;
}

body {
  margin: 0;
  background-color: #4dd2ff;
  text-align: center;
}
h1 {
  color: black;
  font-size: 70px;
}

h5 {
  color: #bfffff;
  font-size: 20px;
  animation: fadeAnimation .4s ease-in;
}
@keyframes fadeAnimation{
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
   }
}
a:link {
  top: 10px;
  margin: -3px;
  position: relative;
  color: black;
  border-style: solid;
  
  border-bottom-style: hidden;
  border-top-style: hidden;
  padding: 17px 55px;
  
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  top: 10px;
  margin: -3px;
  position: relative;
  background-color: #4dd2ff;
  color: white;
  border-style: solid;
  
  border-bottom-style: hidden;
  border-top-style: hidden;
  padding: 17px 55px;
  
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}


a.music {
 margin: 2px;
 background-color: #bfffff;
 padding: 10px 20px;
 border-style: hidden;
 color: black;
 border-radius: 55px;
 animation: fadeAnimation .5s ease-in;
}

a.music:hover {
 margin: 2px;
 background-color: #80dfff;
 padding: 10px 20px;
 border-style: hidden;
 color: white;
 border-radius: 55px;
}
.logo{
 position: absolute;
 top: 1%;
 right: 73.5%; 
}
}